/* p:nth-last-child(2){
    color: aquamarine;
} */

/* :root{
    --text-color: red;

}

p{
    color: var(--text-color);
}
strong{
    color: var(--text-color);
} */


section >p{
    color: #938362;
}
/* using adjasent siblings */
p +h1{
    color: blueviolet;
}

/* General siblings */

p ~ h1{
    color: aqua;
}


/* $  at end, ^ at start , * in universal */
input[name*="DOB"]:hover{
    background-color: peru;
    scale: 1.5;
}