#roi{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
    margin: 6px;
    

}

.ron{
    color: red;
    
    text-decoration: underline;
    margin: 6px;
}

form{
    border: 2px dotted bisque;
    margin: 50px;
    height: 180px;
    width: 250px;
    padding: 5px;
    background-color: blue;
    color: white;

}

.submit {
    background-color: green;
    color: white;
    width: 100px;
    height: 25px;
    text-align: center;
}

.s{
    color: rgb(255, 0,0);
}

